<ion-view view-title="УСПІХИ">
  <ion-content class="padding">
  	<button ng-click="updateData()">Update data</button>
  	<h4>Ваші найкращі результати по всіх іграх</h4>
    <p>Час - чим менше, тим краще.</p>
    <p>Рахунок - чим більше, тим краще.</p>
    <div class="row">
      <div class="col"></div>
  		<div class="col col-20"><i class="icon {{gameModes[0].iconClass}}"></i></div>
      <div class="col col-20"><i class="icon {{gameModes[1].iconClass}}"></i></div>
      <div class="col col-20"><i class="icon {{gameModes[2].iconClass}}"></i></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col col-20">{{gameModes[0].name}}</div>
      <div class="col col-20">{{gameModes[1].name}}</div>
      <div class="col col-20">{{gameModes[2].name}}</div>
    </div>
    <div class="row">
      <div class="col">Тема</div>
      <div class="col col-10">Час</div>
      <div class="col col-10">Рахунок</div>
      <div class="col col-10">Час</div>
      <div class="col col-10">Рахунок</div>
      <div class="col col-10">Час</div>
      <div class="col col-10">Рахунок</div>
    </div>
    <div ng-repeat="theme in themes">
      {{theme.name}}
      <div class="row" ng-repeat="subTheme in theme.subThemes">
        <div class="col">{{subTheme.name}}</div>
        <div class="col col-10">{{subTheme.achievements.minTime1 == 1000000 ? '-' : subTheme.achievements.minTime1}}</div>
        <div class="col col-10">{{subTheme.achievements.maxScore1 == 0 ? '-' : subTheme.achievements.maxScore1}}</div>
        <div class="col col-10">{{subTheme.achievements.minTime2 == 1000000 ? '-' : subTheme.achievements.minTime2}}</div>
        <div class="col col-10">{{subTheme.achievements.maxScore2 == 0 ? '-' : subTheme.achievements.maxScore2}}</div>
        <div class="col col-10">{{subTheme.achievements.minTime3 == 1000000 ? '-' : subTheme.achievements.minTime3}}</div>
        <div class="col col-10">{{subTheme.achievements.maxScore3 == 0 ? '-' : subTheme.achievements.maxScore3}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
