<ion-view view-title="ЗАВДАННЯ">
  <ion-content class="padding tasks" scroll="false">
    <div class="tasks-progress">
      <img class="task-progress-icon"
           style="opacity: {{star.isDone == 1 ? 1 : 0.3}};"
           ng-repeat="star in stars | orderBy : ['-isDone']"
           ng-src="img/icons/complexity_{{star.complexity}}.png">
    </div>

    <div class="row">
      <div class="col col-10">
        <button class="previous-slide-button"
                style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setPreviousTasksPage()"
                ng-if="tasksPageIndex != 0">
        </button>
      </div>
      <div class="col">
        <ion-slides options="data.sliderOptions" 
                    slider="data.sliderDelegate"
                    style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight}}px;">
          <ion-slide-page ng-repeat="tasksPage in chunkedTasks">
            <div class="tasks-block">
              <div class="tasks-page" ng-repeat="row in tasksPage">
                <div class="row task" ng-repeat="task in row" ng-click="showTaskInfo(task.id)">
 
                    <div class="col col-20">
                      <img class="task-complexity-icon"
                           ng-src="img/icons/complexity_{{task.complexity}}.png">
                    </div>
                    <div class="col">
                    <h4>{{task.title}}</h4>
                    <div class="progress-bar-block">
                      <img class="progress-bar" ng-src="img/icons/progress_bar.png">
                      <div class="progress-bar-line-block" style="width: {{task.progressPercentage}}%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>

      <div class="col col-10">
        <button class="next-slide-button"
                style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setNextTasksPage()"
                ng-if="tasksPageIndex != chunkedTasks.length - 1">
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
