<ion-view view-title="{{gameModes[modeId - 1].name.toUpperCase()}}: ТЕМА">
  <ion-content class="theme">
    <div class="row">
      <div class="col col-10">
        <button style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setPreviousTheme()"
                ng-if="themeIndex != 0">
          <i class="icon ion-chevron-left"></i>
        </button>
      </div>
      <div class="col">
        <ion-slides options="data.sliderOptions" 
                    slider="data.sliderDelegate"
                    style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight}}px;">
          <ion-slide-page ng-repeat="theme in themes">
            <div class="slide-data"
                style="width: {{viewWidth}}px;">
              <a href="#/tab/modes/{{modeId}}/theme/{{theme.id}}/word">
                <img class="theme-icon" 
                    ng-src="img/themes/{{theme.id}}.jpg" 
                    ng-click="setThemeName(theme.name)">
                <h1 ng-click="setThemeName(theme.name)">{{theme.name}}</h1>
                <button class="theme-body-button" 
                        ng-click="setThemeName(theme.name)">
                  Обрати
                </button>
              </a>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>

      <div class="col col-10">
        <button style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setNextTheme()"
                ng-if="themeIndex != themes.length - 1">
          <i class="icon ion-chevron-right"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
