<ion-view view-title="{{gameModes[modeId - 1].name.toUpperCase()}}">
  <ion-content class="theme">
    <div class="row">
      <div class="col col-10">
        <button class="previous-slide-button"
                style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setPreviousTheme()"
                ng-if="themeIndex != 0">
        </button>
      </div>
      <div class="col">
        <ion-slides options="data.sliderOptions" 
                    slider="data.sliderDelegate"
                    style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight}}px;">
          <ion-slide-page ng-repeat="theme in themes">
            <div class="theme-block"
                style="width: {{viewWidth}}px;">
              <a href="#/tab/modes/{{modeId}}/theme/{{theme.id}}/word">
                <div class="theme-icon-block">
                  <img class="theme-icon" 
                    ng-src="img/themes/{{theme.id}}.jpg">
                </div>
                <h1>{{theme.name}}</h1>
                <div class="theme-stars-block">
                  <img class="theme-empty-star" ng-src="img/icons/star_frame.png">
                  <img id="themeFirstStar" ng-show="theme.displayFirstStar" ng-src="img/icons/star_colored.png">
                  <img class="theme-empty-star" ng-src="img/icons/star_frame.png">
                  <img id="themeSecondStar" ng-show="theme.displaySecondStar" ng-src="img/icons/star_colored.png">
                  <img class="theme-empty-star" ng-src="img/icons/star_frame.png">
                  <img id="themeThirdStar" ng-show="theme.displayThirdStar" ng-src="img/icons/star_colored.png">
                </div>
              </a>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>

      <div class="col col-10">
        <button class="next-slide-button"
                style="height: {{viewHeight - topPanelHeigth - bottomPanelHeight - 20}}px;"
                ng-click="setNextTheme()"
                ng-if="themeIndex != themes.length - 1">
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
