<ion-view view-title="{{modeId == 1 ? 'СЛОВО' : (modeId == 2 ? 'ФРАЗА' : 'ПИТАННЯ')}}">
  <ion-content class="word"
              style="width: {{blockWidth}}px; height: {{viewHeight - topPanelHeigth}}px; margin-left: {{blockMarginLeft}}px; margin-top: {{blockMarginTop}}px;">
    <div class="row word-header"
         style="height: {{wordHeaderBlockHeight}}px;">
      <div class="col col-20 score-counter">
        <p>
          <i class="icon ion-ios-star-outline"></i> 
          {{score}}
        </p>
        <p ng-if="modeId==3">
          <i class="icon ion-ios-timer-outline"></i> 
          {{counterInMinutes != 0 ? ' ' + counterInMinutes + 'хв' : ''}} {{counter % 60}}с
        </p>
      </div>
      <div class="col word-header-title">
        <h1 ng-if="modeId==1">{{word.translation}}</h1>
        <h1 ng-if="modeId==2">{{phrase.translation}}</h1>
        <h3 ng-if="modeId==3">{{word.description}}</h3>
      </div>
      <div class="col col-20 play-sound">
        <p id="playSoundIcon"
          style="opacity: {{hasSound}};"
          ng-disabled="hasSound" 
          ng-click="playSound()">
          <i class="icon ion-volume-high"></i>
        </p>
      </div>
    </div>

    <div class="row word-body">
      <div class="col col-20">
        <button class="clear-button" 
                ng-click="clearComposedWord()">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>
      <div class="col">
  	    <img class="word-icon"
            ng-src="img/{{word.themeId}}/{{word.name}}.jpg"
            ng-if="modeId==1">
        <h1 ng-if="modeId==3 && isComposed">{{word.translation}}</h1>
      </div>
      <div class="col col-20">
        <button class="next-button" 
                ng-click="setNextWord()">
          <i class="icon ion-arrow-right-c"></i>
        </button>
      </div>
    </div>

    <div class="row composed-letter-buttons-block">
      <button class="composed-letter-button"
              style="opacity: {{item.symbol=='_' ? 0 : 1}}; width: {{letterWidth}}px; height: {{letterWidth}}px;"
              ng-click="moveLetterBack($index)"
              ng-disabled="item.isDefault"
              ng-repeat="item in composedNameLetters track by $index">
        {{item.symbol.toUpperCase()}}
      </button>
    </div>

  	<div class="row letter-buttons-block">
      <button class="letter-button"
              style="width: {{letterWidth}}px; height: {{letterWidth}}px;"
              ng-show="letter!='_'"
              ng-click="moveLetter(letter, $index); checkComposedWord();"
              ng-repeat="letter in shuffledName track by $index">
        {{letter.toUpperCase()}}
      </button>
    </div>

    <div class="row correct-logo-block"
        style="display: none;">
       <img class="correct-logo" ng-src="img/correct_logo.jpg">
    </div>
  </ion-content>
</ion-view>
