.correct-text {
  -webkit-animation: moveDown linear;
  -webkit-animation-duration: 1s;
  animation: moveDown linear;
  animation-duration: 1s;
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
    opacity: 0.2;
  }
}

#popupFirstStar {
  -webkit-animation: 2s popupStarFadeIn;
  -webkit-animation-fill-mode: forwards;
  animation: 2s popupStarFadeIn;
  animation-fill-mode: forwards;
}
#popupSecondStar {
  -webkit-animation: 4s popupStarFadeIn;
  -webkit-animation-fill-mode: forwards;
  animation: 4s popupStarFadeIn;
  animation-fill-mode: forwards;
}
#popupThirdStar {
  -webkit-animation: 6s popupStarFadeIn;
  -webkit-animation-fill-mode: forwards;
  animation: 6s popupStarFadeIn;
  animation-fill-mode: forwards;
}

@keyframes popupStarFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}