h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.game-modes, .slide-data {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}

.game-modes, .word, .achievement-popup {
  text-align: center;
}

.theme {
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.theme-icon {
  margin-top: 10px;
  width: 60px !important;
}
.theme-body-button {
  margin-bottom: 5px;
}

#playSoundIcon {
  font-size: 24px;
}
.slide-data h1, .word-header-title h1 {
  font-size: 30px;
}
.word-icon {
	height: 45px;
}
.clear-button, .next-button {
  font-size: x-large;
}
.composed-letter-button, .letter-button {
  font-size: 24px;
  margin-right: 4px;
}
.composed-letter-buttons-block, .letter-buttons-block {
  padding-top: 4px;
  padding-right: 0px;
  padding-left: 4px;
  padding-bottom: 4px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.composed-letter-button {
	background: transparent;
  border: 1px dotted black;
}
