@font-face {
  font-family: 'Alice';
  src: url('../fonts/Alice.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CormorantInfantB';
  src: url('../fonts/CormorantInfant-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Handlee';
  src: url('../fonts/Handlee-Regular.ttf') format('truetype');
  font-weight: normal;
}

.title, .previous-title, .tab-title, 
.game-modes h1, .game-modes button,
.popup-container .popup h3, .popup-container .popup p {
  font-family: Alice;
}
.secondary-font, .popup-container .button {
  font-family: CormorantInfantB;
}

.back-button {
  border: none;
}
.back-button > .back-text > .default-title, .back-button > .back-text > .previous-title {
  display: none;
}
.bar-stable .button.back-button {
  color: #ef944c;
}
.bar.bar-header {
  background-color: transparent;
}

.tabs, .tabs-striped .tabs {
  background-color: transparent;
  border: none;
}

.pane {
/*  background-image: url('../img/background.jpg');
  background-size: 100% auto;*/
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.bar.bar-stable .title {
  font-size: 14px;
  text-align: center !important;
  font-weight: bold;
  color: #ef944c;
}

.tabs-striped .tab-item.tab-item-active {
  border: none;
}
.tab-item {
  opacity: 1;
}
.tab-item .icon {
  height: 45px;
}

.game-modes, .word, .achievement-popup {
  text-align: center;
}

.game-modes h1 {
  width: 160px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #3d3e03;
  text-shadow: -1px 0 #90a700, 0 1px #c1e127, 1px 0 #c1e127, 0 -1px #c1e127;
  background-image: url('../img/icons/ribbon.png');
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.game-mode-icon {
  height: 100px;
}
.play-icon, .achievements-icon, .info-icon {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.play-icon {
  background-image: url('../img/buttons/play.png');
}
.achievements-icon {
  background-image: url('../img/buttons/star.png');
}
.info-icon {
  background-image: url('../img/buttons/info.png');
}

.swiper-pagination {
  display: none;
}
.previous-slide-button, .next-slide-button {
  width: 40px;
  margin-top: 150%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.previous-slide-button {
  background-image: url('../img/buttons/left.png'); 
}
.next-slide-button {
  background-image: url('../img/buttons/right.png');
}

.popup-container .popup {
  text-align: center;
  background-image: url('../img/frames/popup.png');
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;   
}
.popup-head {
  display: none;
}
.popup-body {
  /*padding: 0px;*/
}
.popup-buttons {
  padding: 0px;
}
.popup-buttons .button {
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  color: #530802;
  background-image: url('../img/buttons/ellipse.png');
  background-size: auto 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
/*  bottom: -10px;
  position: absolute;
  width: 110px;
  left: 30%;*/
}
.popup-buttons .button-positive.activated {
  background-color: transparent;
}
.popup-stars-block {
  position: relative;
}
.popup-empty-star {
  width: 65px;
}
#popupFirstStar, #popupSecondStar, #popupThirdStar {
  width: 40px;
  top: 10px;
  position: absolute;
}
#popupFirstStar {
  left: 30px;  
}
#popupSecondStar {
  left: 95px;
}
#popupThirdStar {
  left: 160px;
}
.popup-container .confirm-popup p {
  height: 80px;
  color: #2d0b05;
  text-align: center;
  margin-top: 15px;
}