.tasks h3, .tasks h4, .tasks p, .award {
  font-family: Alice;
}

.tasks {
  padding-top: 0px;
}

.tasks .row, .tasks .col {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tasks-progress {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.task-progress-icon {
  width: 20px;
}

.tasks-block {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
}

.task {
  width: 270px;
  height: 55px;
  margin: 5px 0px 7px 0px;
  padding: 10px;
  background-image: url('../img/frames/task.png');
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
}

img.task-complexity-icon {
  padding-top: 6px;
}

img.task-help-icon {
  width: 37px;
  padding-top: 12px;
}

.task h4 {
  margin: 0px;
  padding-top: 7px;
  font-weight: bold;
  font-size: 14px;
  color: #7b2f15;
  text-align: center;
}

.progress-bar-block {
  position: relative;
  margin-top: 3px;
  margin-left: 34px;
}

img.progress-bar {
  width: 120px;
}

.progress-bar-line-block {
  height: 12px;
  top: 3px;
  position: absolute;
  background-image: url('../img/icons/progress_bar_line.png');
  background-size: auto 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left;
}

.task-popup h4 {
  color: #bd1984;
  font-size: 19px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-popup h3 {
  color: #ffd9aa;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
}

.task-popup p {
  height: 65px;
  width: 320px;
  display: table-cell;
  vertical-align: middle;
  color: #440523;
  font-size: 18px;
  line-height: 1.5em;
}

.task-popup-icon {
  height: 40px;
}