.word-header-title h1, .word-header-title h3,
.word-body h1, .correct-text-block h3, .record-popup h5 {
  font-family: Alice;
}

.word p {
  font-family: CormorantInfantB;
}

.composed-letter-button, .letter-button {
  font-family: Handlee;
  font-weight: bold;
 }

.word-header {
  height: 65px;
}
.word-header-title {
  margin-top: -13px;
}

.word-header-title h1, .word-body h1 {
  font-size: 30px;
  color: #773b30;
  text-shadow: -1px 0 #763a30, 0 1px #763a30, 1px 0 #763a30, 0 -1px #763a30;
}

.word-header-title h1 {
  line-height: 1em;
}

.word-header-title h3 {
  font-size: 18px;
  font-weight: bold;
  color: #773b30;
  padding-top: 5px;
}

.score {
  text-align: left; 
  color: #773b30;
  font-size: 26px;
}
.score-icon, .counter-icon {
  vertical-align: text-bottom;
}
.play-sound-counter {
  text-align: right;
  font-size: 16px;
  color: #773b30;
}
.score-icon, .play-sound-icon, .counter-icon {
  height: 35px;
}

.word-body {
  margin-bottom: -8px;
}
.word-body button {
  margin-top: 50%;
}
.word-body h1 {
  margin-top: 15px;
}

.word-icon-block {
  height: 101px;
  margin-bottom: 10px;
  background-image: url('../img/frames/word.png'); 
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;  
}

.word-icon {
	height: 45px;
  margin-top: 10px;
  border: 2px solid #843731;
  border-radius: 10px;
}

.clear-button, .next-button {
  height: 50px;
  width: 50px;
  font-size: x-large;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;  
  background-color: transparent;
  border: none;
}

.clear-button {
  background-image: url('../img/buttons/remove.png');
}

.next-button {
  background-image: url('../img/buttons/next.png');
}

.composed-letter-button, .letter-button {
  font-size: 24px;
  margin-left: 1px;
  margin-right: 1px;
}

.composed-letter-buttons-block, .letter-buttons-block {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.composed-letter-buttons-block {
  padding: 0px;
}

.letter-buttons-block {
  padding-top: 5px !important;
}

.composed-letter-button {
  text-shadow: -1px 0 #542919, 0 1px #542919, 1px 0 #542919, 0 -1px #542919;
  background-image: url('../img/buttons/letter_frame.png'); 
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 3px;
}

.decorated-button {
  color: #69250a;
  text-shadow: -1px 0 #542919, 0 1px #542919, 1px 0 #542919, 0 -1px #542919;
  background-image: url('../img/buttons/letter.png'); 
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.correct-text-block {
  display: block;
  margin: 0 auto;
  padding: 0px;
}

.correct-text-block.ng-hide {
  opacity: 0;
}

.correct-text-block h3 {
  color: #bd1984;
  text-shadow: -1px 0 #f8d09f, 0 1px #f8d09f, 1px 0 #f8d09f, 0 -1px #f8d09f;
  font-size: 26px;
  font-weight: bold;
}

.record-popup {
  height: 150px;
  margin-bottom: 18px;
}

.record-popup h3 {
  margin-bottom: 5px;
}

.record-popup h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 1.4em;
}

.record-popup .record-block {
  height: 75px;
  width: 280px;
  display: table-cell;
  vertical-align: middle;
}

.record-popup h4.record {
  text-align: left;
  margin-left: 35%;
  line-height: 1em;
}

.record-popup .star-icon, .record-popup .clock-icon {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 10px 5px #f5e724;
  border-radius: 15px;
}

.record-popup span {
  font-size: 24px;
  font-weight: bold;
}

.record-popup .record span {
  color: #f5e724;
  margin-left: 5px;
}

.task-done-popup h4.task-done-popup-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -5px;
}

.task-done-complexity-icon {
  width: 40px;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 13px;
}

.achievement-popup {
  margin-bottom: 25px;
}

h4.achievement-popup-score {
  color: #ffd9aa;
  margin-bottom: 15px;
}

.popup-stars-block {
  position: relative;
  margin-top: 7px;
}

.popup-empty-star {
  width: 65px;
}

#popupFirstStar, #popupSecondStar, #popupThirdStar {
  width: 40px;
  top: 10px;
  position: absolute;
}

#popupFirstStar {
  left: 75px;  
}

#popupSecondStar {
  left: 140px;
}

#popupThirdStar {
  left: 205px;
}

.place-to-take-letter {
  box-shadow: 0px 0px 10px 5px #82c709;
  border-radius: 5px;
  background-color: #82c709;
}

.place-to-put-letter {
  box-shadow: 0px 0px 10px 5px #f5e724;
  border-radius: 5px;
  background-color: #f5e724;
}