.word-header-title h1, .word-header-title h3,
.word-body h1, .correct-letter-button {
  font-family: Alice;
}

.word p {
  font-family: CormorantInfantB;
}

.composed-letter-button, .letter-button {
  font-family: Handlee;
  font-weight: bold;
 }

.word-header-title {
  margin-top: -17px;
}

.word-header-title h1, .word-body h1 {
  font-size: 30px;
  color: #773b30;
  text-shadow: -1px 0 #763a30, 0 1px #763a30, 1px 0 #763a30, 0 -1px #763a30;
}

.word-header-title h3 {
  font-size: 18px;
  font-weight: bold;
  color: #773b30;
  padding-top: 5px;
}

.score {
  text-align: left; 
  color: #773b30;
  font-size: 26px;
}

.score-icon {
  height: 35px;
  vertical-align: text-bottom;
}

.play-sound-counter {
  text-align: right;
  font-size: 16px;
  color: #773b30;
}

.play-sound-icon {
  height: 35px;
  margin-top: 3px;
}

.counter-icon {
  height: 35px;
  vertical-align: text-bottom;
}

.word-body {
  min-height: 70px;
}

.word-body button {
  margin-top: 50%;
}

.word-icon-block {
  height: 101px;
  margin-bottom: 10px;
  background-image: url('../img/frames/word.png'); 
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;  
}

.word-icon {
	height: 45px;
  margin-top: 10px;
  border: 2px solid #843731;
  border-radius: 10px;
}

.clear-button, .next-button {
  height: 50px;
  width: 50px;
  font-size: x-large;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;  
  background-color: transparent;
  border: none;
}

.clear-button {
  background-image: url('../img/buttons/remove.png');
}

.next-button {
  background-image: url('../img/buttons/next.png');
}

.composed-letter-button, .letter-button {
  font-size: 24px;
  margin-left: 2px;
  margin-right: 2px;
}

.composed-letter-buttons-block, .letter-buttons-block {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.composed-letter-button {
  text-shadow: -1px 0 #542919, 0 1px #542919, 1px 0 #542919, 0 -1px #542919;
  background-image: url('../img/buttons/letter_frame.png'); 
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 5px;
}

.decorated-button {
  color: #69250a;
  text-shadow: -1px 0 #542919, 0 1px #542919, 1px 0 #542919, 0 -1px #542919;
  background-image: url('../img/buttons/letter.png'); 
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.correct-text-block {
  display: block;
  margin: 0 auto;
  padding: 0px;
}

.correct-text-block.ng-hide {
  opacity: 0;
}

.correct-letter-button {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.5em;
  margin-left: 1px;
  margin-right: 1px;
  color: #373b00;
  background-image: url('../img/buttons/correct_letter.png'); 
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}